<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">
<head th:replace="layout/plantilla::head"/>
<body>
    <div th:replace="layout/plantilla::header"/>
    <main>
        <div class="container">
            <h1 th:text="#{editar.tituloP}">Datos del Parque</h1>
            <a th:href="@{/parques/lista}" th:text="#{editar.back}">Regresar</a>
            <form th:action="@{/parques/guardar}" method="post" th:object="${parque}">
                <div class="mb-3">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <label class="form-label" for="nombre" th:text="#{editar.nombre}">Nombre:</label>
                    <input class="form-control" type="text" name="nombre" th:field="*{nombre}"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="estatu" th:text="#{editar.estatus}">Estatu:</label>
                    <select class="form-select" th:field="*{estatu}">
                        <option th:each="estatu:${estatus}" th:value="${estatu.id}" th:text="${estatu.nombre}"/>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" name="guardar" value="Guardar">
            </form>
        </div>
    </main>
    <footer th:replace="layout/plantilla::footer"/>
</body>
</html>