<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">
<head th:replace="layout/plantilla::head"/>
<body>
    <div th:replace="layout/plantilla::header"/>
    <main>
        <div class="container">
            <h2 th:text="#{lista.listA}">Lista de actividades</h2>
            <a th:href="@{/actividades/registrar}" th:text="#{lista.addA}" class="btn btn-success">Agregar nueva actividad</a>
            <br><br>
            <div th:if="${actividades != null and !actividades.empty}">
                <div class="row">
                    <div th:each="actividad:${actividades}" class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="card-title" th:text="${actividad.nombre}"></h3>
                            <p class="card-text" th:text="${actividad.descripcion}"></p>
                          </div>
                          <div class="card-body">
                            <h4 th:text="#{lista.parque}">Parque</h4>
                            <p th:text="${actividad.parque.nombre}"></p>
                            <h5 th:text="#{lista.estatus}">Estatus</h5>
                            <p th:text="${actividad.estatu.nombre}"></p>
                          </div>
                          <div class="card-body">
                            <a th:href="@{/actividades/eliminar/} + ${actividad.id}" th:text="#{lista.eliminar}" class="btn btn-danger">Eliminar</a>
                            <a th:href="@{/actividades/modificar/} + ${actividad.id}" th:text="#{lista.modificar}" class="btn btn-warning">Modificar</a>
                            <a th:href="@{/actividades/vender/} + ${actividad.id}"th:text="#{lista.vender}" class="btn btn-primary">Vender</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${actividades == null or actividades.empty}">
                <p th:text="#{lista.emptyA}">No existen actividades registrados.</p>
            </div>
            <br>
            <br>
            <a th:href="@{/}" th:text="#{lista.back}" class="btn btn-info">Regresar al inicio</a>
            <br>
            <br>
        </div>
    </main>
    <footer th:replace="layout/plantilla::footer"/>
</body>
</html>