<!DOCTYPE html>

<head th:replace="layout/plantilla::head"/>

    <div th:replace="layout/plantilla::header"/>
    <main>
        <div class="container">
            <h2>Compra de actividad</h2>
            <form th:action="@{/ventas/venta}" method="post" th:object="${venta}">
                <div class="mb-3">
                    <label class="form-label" for="actividad">Actividad:</label>
                    <select class="form-select" th:field="*{actividad}">
                        <option th:each="actividad:${actividades}" th:value="${actividad.id}">[[${actividad.nombre}]] - [[${actividad.parque.nombre}]]</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select"  th:field="*{usuario}">
                        <option th:each="user:${usuario}" th:value="${user.id}">[[${user.id}]] - [[${user.nombre}]]</option>
                    </select>
                </div>
                <div class="mb-3">
               
                    <label class="form-label" for="cantidad">Cantidad de tickets:</label>
                    <input class="form-control" type="number" name="cantidad" min="1" th:field="*{cantidad}"/>
                </div>
                <input  type="submit" name="vender" value="Vender" class="btn btn-success">
            </form>
            <br>
            <a th:href="@{/actividades/lista}" th:text="#{editar.back}" class="btn btn-info">Regresar</a>
            <br>
        </div>
    </main>
    <footer th:replace="layout/plantilla::footer"/>

