<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">
<head th:replace="layout/plantilla::head"/>
<body>
    <div th:replace="layout/plantilla::header"/>
    <main>
        <h2>Lista de ventas</h2>
        <!-- <a th:href="@{/usuarios/registrar}">Agregar venta</a> -->
        <div th:if="${usuarios != null and !usuarios.empty}">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Eliminar</th>
                        <th>nick</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>telefono</th>
                        <th>correo</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario:${usuarios}">
                        <td><a th:href="@{/usuarios/eliminar/} + ${usuario.id}">Eliminar</a></td>
                        <td th:text="${usuario.nick}"></td>
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.apellido}"></td>
                        <td th:text="${usuario.telefono}"></td>
                        <td th:text="${usuario.correo}"></td>
                        <td><a th:href="@{/usuarios/modificar/} + ${usuario.id}">Modificar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            No existen ventas registradas.
        </div>
        <a th:href="@{/}" th:text="#{lista.back}">Regresar al inicio</a>
    </main>
    <footer th:replace="layout/plantilla::footer"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>