<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">
<head th:replace="layout/plantilla::head"/>
<body>
    <div th:replace="layout/plantilla::header"/>
    <main class="container"> 
        <h2>Historial de ventas</h2>
        <div th:if="${ventas != null and !ventas.empty}">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Actividad</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="venta:${ventas}">
                        <td th:text="${venta.id}"></td>
                        <td th:text="${venta.usuario.nombre}"></td>
                        <td>[[${venta.actividad.nombre}]] - [[${venta.actividad.parque.nombre}]]</td>
                        <td th:text="${venta.cantidad}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${ventas == null or ventas.empty}">
            No hay ventas registradas.
        </div>
        <br>
        <br>
        <a th:href="@{/}" th:text="#{lista.back}" class="btn btn-info">Regresar al inicio</a>
        <br>
        <br>
    </main>
    <footer th:replace="layout/plantilla::footer"/>
</body>
</html>